*
    margin: 0
    padding: 0
    font-family: sans-serif
    box-sizing: border-box
    list-style-type: none
    font-family: 'Nobile', sans-serif 
    font-size: 15px

html    
    height: 100%

.root
    min-height: 100%

h6        
    margin-bottom: 0
a
    color: #6c757d
    cursor: pointer
    text-decoration: none!important

nav a:hover  
    color: #19f6e8 !important   

input
    border: none
    padding: 5px

textarea
    border: none 
    padding: 5px

.color-base
    background: lightgoldenrodyellow

.color-second
    background: azure !important

body
    height: 100%
    position: relative
    color: #6c757d
    background: lightgoldenrodyellow

.anim
    -webkit-transition: all .2s ease-in-out
    -moz-transition: all .2s ease-in-out
    -o-transition: all .2s ease-in-out
    transition: all .2s ease-in-out

.title
    font-family: 'Playfair Display', serif
    font-weight: bold    

.btn:hover
    color: white !important 

.btn-primary
    background-color: #19f6e8!important
    border-color: #6aebe2!important

.btn-primary:hover
    border-color: #5bc9c2!important
      

.modal-header
    border-bottom: none

.center              
    display: flex
    justify-content: center
    align-items: center

.indent
    margin-left: 10px

.cursor-p        
    cursor: pointer

/***header***/
nav 
    background: #f5f2c4

.header-wrap
    border-bottom: 1px solid #e5e5e5

.header-top
    height: 70px
    justify-content: space-between

/***pagination***/
.activePage
    color: #19f6e8   

/***popup***/
.size-close
    font-size: 27px!important

.rotate-close:hover
    color: #19f6e8
    transition-duration: .7s
    -webkit-transition-duration: .7s
    -moz-transition-duration: .7s
    -o-transition-duration: .7s
     transform: rotate(180deg)
    -webkit-transform: rotate(180deg)
    -moz-transform: rotate(180deg)
    -o-transform: rotate(180deg)
    transform: rotate(180deg)
   
/***filter***/
.filter div
    margin-right: 10px

.filter-select
    //outline-color: #05F2AE
    outline-color: #19f6e8
    border: none
    height: 25px  
    color: #6c757d 

.title-select
    margin: 0 8px 0 8px
    
.filter-title
    display: flex
    align-items: center

/***animation***/
.shape 
  fill: transparent
  stroke-dasharray: 110 540
  stroke-dashoffset: -254
  stroke-width: 6px
  stroke: #19f6e8
  
@keyframes draw
  0%
    stroke-dasharray: 110 540
    stroke-dashoffset: -254
    stroke-width: 7px

  100%
    stroke-dasharray: 760
    stroke-dashoffset: 0
    stroke-width: 2px    

.svg-wrapper:hover .shape 
  -webkit-animation: 0.5s draw linear forwards
  animation: 0.5s draw linear forwards

/***footer***/
.footer
    background: #f5f2c4
    height: 70px

        